<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened; else closeButton">menu</mat-icon>

      <ng-template #closeButton>
        <mat-icon>close</mat-icon>
      </ng-template>
    </button>
    <span>PlanIT Poker</span>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div>
        <mat-icon class="rooms">group</mat-icon>
      </div>
    </mat-drawer>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
