<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened; else closeButton">menu</mat-icon>

      <ng-template #closeButton>
        <mat-icon>close</mat-icon>
      </ng-template>
    </button>

    <span class="app-title">PlanIT Poker</span>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
      <div>
        <mat-icon class="rooms">list</mat-icon>
        <label>Rooms</label>
      </div>
    </mat-drawer>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
