.estimating-team {
  width: 370px;
  height: 78vh;
  box-shadow: 0 0 8px 0 #5D7D97;
  color: #161B1D;
  overflow: auto;
}

h1 {
  padding: 10px;
  margin-bottom: 0;
  box-shadow: 0 -1px 8px 0 #5D7D97;
  color: white;
  background-color: #5D7D97;
}
